body,
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.judul {
  background-color: #9c835f;
  color: #f9b23d;
  padding-left: 250px;
  padding-top: 20px;
  font-size: 23px;
  letter-spacing: 1px;
  margin-top: -20px;
}

.judul h3 {
  margin-top: -38px;
}

.leftIcon {
  position: relative;
  margin-top: 30px;
  margin-left: -150px;
}

.leftIcon img {
  height: 40px;
  width: 40px;
  margin-left: 40px;
  margin-top: -20px;
}

.container {
  background-color: #9c835f;
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: space-between;
}

.container img {
  height: 92px;
  width: 128px;
  margin-top: 20px;
  margin-left: 12px;
}

.box {
  position: relative;
  border: 0px solid black;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  align-items: center;
  line-height: 150px;
  margin-top: 150px;
  margin-bottom: -90px;
  margin-left: 380px;
  margin-right: 430px;
  background-color: #9c835f;
}

.boxCom {
  position: relative;
  border: 0px solid black;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  align-items: center;
  line-height: 150px;
  margin-top: 150px;
  margin-bottom: -90px;
  margin-left: 380px;
  margin-right: 330px;
  background-color: #9c835f;
}

.player,
.computer {
  margin-top: 10px;
}

.announ {
  display: flex;
  margin-left: 420px;
  margin-right: -70px;
  margin-top: -500px;
  font-size: 30px;
}

.reseter img {
  height: 71px;
  width: 77px;
  margin-top: 700px;
  margin-left: -955px;
}

.player h1 {
  margin-left: 390px;
  margin-bottom: -90px;
  margin-top: 90px;
}

.computer h1 {
  margin-left: 365px;
  margin-top: 90px;
  margin-bottom: -90px;
}

.comStyle,
.playerStyle,
.drawStyle {
  color: white;
  text-align: center;
  width: 250px;
  height: 120px;
  font-size: 40px;
  border: 0px solid white;
  border-radius: 10px;
  background-color: #4c9654;
  transform: rotate(-30deg);
  padding-top: 17px;
}

.drawStyle {
  line-height: 100px;
}

.vsStyle {
  color: red;
  font-size: 90px;
  width: 250px;
  height: 100px;
  text-align: center;
}
